* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  color: #fff;
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(128, 128, 128, 0.414));
}

main {
  display: flex;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: clamp(600px, 90vw, 1000px);
  min-height: 520px;
}

.image {
  box-shadow: rgba(87, 52, 52, 0.24) 0px 3px 8px;
  height: 100%;
  flex: 1;
  padding: 30px;
  border-radius: 25px;
  background-color: rgb(200, 199, 199);
  position: relative;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  min-height: 520px;
}

.location {
  color: rgba(255, 255, 255, 0.635);
  border: 1px solid rgba(255, 255, 255, .12);
  position: absolute;
  right: 5%;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  font-weight: 100;
  padding: 8px 20px;
  border-radius: 10px;
  gap: 15px;
  width: 40%;
}

.location i {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.current-location {
  font-size: 10px;
  display: flex;
  flex-direction: column;
}

#city {
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
}

.search-box {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translate(-50%, -90%);
  width: 60%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  outline: none;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.635);
  font-size: 15px;
  display: flex;
  align-items: center;
}

#input-location {
  flex: 1;
  color: rgba(255, 255, 255, 0.635);
  text-indent: 9px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1;
  /* Firefox */
  letter-spacing: 1px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 220px;
  min-height: 520px;
  padding: 20px 30px;
  color: rgb(120, 120, 120);
  gap: 10px;
}

#today {
  color: rgb(70, 70, 70);
  letter-spacing: 2px;
  text-align: center;
}

.date {
  font-size: 12px;
}

.weather {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  padding: 15px;
  gap: 20px
}

.main-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#temperature {
  font-size: 50px;
  font-weight: bold;
  color: rgb(70, 70, 70);
}

.weather i {
  font-size: 45px;
}

.auxiliary-details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auxiliary-details div {
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer {
  align-self: flex-end;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  padding-top: 10px;
  opacity: .8;
}

.footer-svg {
  height: 20px;
  width: 16px;
}

.lds-dual-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  display: none;
  width: 50px;
  height: 500px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(0, 0, 0);
  border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
    border-radius: 0;
  }

  .image {
    border-radius: 0px;
  }

  .details {
    min-width: 220px;
    height: min-content;
  }
}